body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 5%;

}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 0;
    z-index: 1000;
    text-align: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #00c6ff;
}

#home {
    padding-top: 80px;
}

.bordered-image {
  border: 5px solid black;
}

.drop-down {
    
      display: flex;
      position: relative;
      margin-top: 80px;
      
      
      top: -200px;
      opacity: 0;
      transition: all 2s ease;
 }
        
 .drop-down.active {
    top: 0;
    opacity: 1;
         
}


